/*=================== GENERAL ===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  --hue: 80;
  --lightness: 26;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --primary-color-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --bg-light: hsl(calc(var(--hue) + 10), 14%, 97%);
  --neutral-color: hsl(39, 100%, 97%);
  --primary-color-hover: hsl(var(--hue), 100%, 14%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;

  background-color: var(--bg-light);
}

.wrapper {
  width: min(
    50rem,
    100%
  ); /*vai aumentando ou diminuindo, largura menor que 50rem vai pra 100%, maior fica em 50rem*/
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;

  text-transform: uppercase;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);
}

.button {
  background: var(--primary-color);
  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem; /*mudar se for add mais botões*/

  padding: 1.6rem 3.2rem;
  width: fit-content; /*largura adapta ao conteudo sem definir tamanho e mesmo sendo block*/

  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;
}

.button:hover {
  background-color: var(--primary-color-hover);
  transition: background 200ms;
}

.social-links {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

/* custom colors */

#services .card circle {
  fill: var(--primary-color-light);
}

#navigation .logo path[fill*='#00856F'],
#backToTopButton circle {
  fill: var(--primary-color);
}

button.open-menu path[stroke*='#00856F'],
#contact li path {
  stroke: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
  fill: white;
}

#navigation.scroll button.open-menu path[stroke*='#00856F'] {
  stroke: white;
}

/*=================== NAVIGATION ===================*/

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*=================== MENU-EXPANDED ===================*/
body.menu-expanded {
  overflow: hidden;
}

/*aplicar para todos filhos do primeiro nivel menos nav*/
body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

/*Quando o body estiver com menu expanded ativa esses*/
body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
}

.menu .button {
  background: white;
  border-radius: 4rem;
  padding: 1.6rem 3.2rem;

  color: var(--primary-color);

  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-decoration: none;

  display: inline-block;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: white;

  filter: brightness(1.2);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 10;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*=================== #HOME ===================*/

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(76% + var(--nav-height));

  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  background-color: var(--primary-color-light);
}

#home .button {
  margin-inline: auto;
}

#home p {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

#home img {
  display: block;
  margin-inline: auto;
  object-position: 0 2rem; /*mexer no posicionamento da imagem dentro do img*/
  width: 26.3rem;
}

#home .numbers-box {
  width: 100%;
  margin-inline: auto;
  padding-block: 4rem;

  background-color: var(--neutral-color);
  border-radius: 0.6rem;
  border: solid var(--primary-color-light) 0.1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .number h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--headline);
}

#home .number p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--primary-color);
}

/*=================== SERVICES ===================*/

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;
  background: white;

  border: 0.1rem solid var(--primary-color-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/*=================== ABOUT ===================*/

#about {
  text-align: left;
  background-color: var(--neutral-color);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/*=================== CONTACT ===================*/

#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/*=================== FOOTER ===================*/

footer {
  background-color: var(--primary-color);
  padding-block: 6rem;

  text-align: left;
  color: white;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: white;
}

footer p {
  color: var(--neutral-color);
  line-height: 2;
  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}

footer .social-links path {
  stroke: var(--neutral-color);
}

/*=================== BACK TO TOP ===================*/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%); /*joga botão pra baixo quando sem a classe*/
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /*posição inicial*/
}

/*=================== RESPONSIVE ===================*/

@media (min-width: 1024px) {
  /*=================== GERAL ===================*/
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  /*=================== NAVIGATION ===================*/

  /* reset */
  /* mais especificidade tag#id (mouse hover vscode pra ver)*/
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial; /*inicial antes de ter add css*/
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    font-weight: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;

    color: var(--primary-color);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    border: none;
    color: white;
    background-color: var(--primary-color);
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--bg-light);
    opacity: 0.6;
  }

  nav#navigation.scroll .menu a.button {
    border-color: white;
    color: white;
  }

  nav#navigation.scroll .menu a.button:hover,
  nav#navigation.scroll .menu a.button.active {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }
  nav#navigation .menu li a {
    transition: opacity 0.4s;
  }

  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);

    position: relative;
    bottom: -1.95rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }

  nav#navigation .menu li a:hover::after,
  nav#navigation .menu li a.active::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a:hover,
  nav#navigation.scroll .menu li a.active {
    opacity: 1;
  }

  /*=================== HOME ===================*/
  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }

  #home .col-a {
    text-align: left;
    align-self: center;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home .numbers-box {
    grid-area: C;

    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  /*pegar .number que anterior a ele tem um .number*/
  #home .numbers-box .number + .number {
    border-left: solid 1px var(--primary-color);
  }

  #home .numbers-box .number {
    flex: 1;
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  /*=================== SERVICES ===================*/
  #servies h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #services .cards-box {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1; /*1 = cresça o suficiente pra preencher o espaço restante*/
  }

  /*=================== ABOUT ===================*/
  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }

  /*=================== CONTACT ===================*/

  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
  }

  #contact .col-a {
    align-self: center;
  }

  #contact h2 {
    width: 40.4rem;
  }

  /*=================== FOOTER ===================*/
  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-a {
    align-self: center;
  }

  footer .col-b {
    align-self: center;
    justify-self: end;
  }

  footer p {
    margin-bottom: 0;
  }
}
